DB_URL=jdbc:postgresql://localhost:8080/example_db
DB_USERNAME=user
DB_PASSWORD=password
DB_DRIVER_CLASS=org.postgresql.Driver

SHOW_SQL=true
DIALECT=org.hibernate.dialect.PostgreSQLDialect
DDL=update

JWT_SECRET=Secreto de +32 caracteres recomendado
JWT_EXP_SECONDS=Tiempo en segundos para mantener una sesión iniciada

PORT=8443
CONTEXT_PATH=/api

SSL_ENABLE=true
KEY_STORE=classpath:keystore.p12
KEY_STORE_PASSWORD=contraseñaSecreta
KEY_STORE_TYPE=PKCS12
KEY_ALIAS=springboot

HOST=smtp.gmail.com
MAIL_PORT=587
MAIL=ejemplo@gmail.com
MAIL_PASSWORD=contraseña de aplicación
MAIL_AUTH=true
MAIL_STARTTLS=true