DB_URL=jdbc:postgresql://localhost:8080/example_db
DB_USERNAME=user
DB_PASSWORD=password
DB_DRIVER_CLASS=org.postgresql.Driver

SHOW_SQL=true
DIALECT=org.hibernate.dialect.PostgreSQLDialect
DDL=update

JWT_SECRET=Secreto de +32 caracteres recomendado
JWT_EXP_SECONDS=Tiempo en segundos para mantener una sesión iniciada

PORT=8443
CONTEXT_PATH=/api

EMAILJS_SERVICE_ID=ID del servicio
EMAILJS_TEMPLATE_ID=ID del template del correo
EMAILJS_PUBLIC_KEY=Llave pública de la cuenta
EMAILJS_PRIVATE_KEY=Llave privada de la cuenta