DB_URL=jdbc:postgresql://localhost:8080/example_db
DB_USERNAME=user
DB_PASSWORD=password
DB_DRIVER_CLASS=org.postgresql.Driver

SHOW_SQL=true
DIALECT=org.hibernate.dialect.PostgreSQLDialect
DDL=update

JWT_SECRET=Secreto de +32 caracteres recomendado
JWT_EXP_SECONDS=Tiempo en segundos para mantener una sesión iniciada

PORT=9090
CONTEXT_PATH=/api


